In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('travel_agency_offers.csv')

In [11]:
df.head(2)

,Continent,Country,City,Hotel,Stars,Date,End date,Price,Discounted Price
0,Europe,Portugal,Lisbon,Enigma Hotel & Spa,4,09-06-16,19-06-16,"1.580,00","1.501,00"
1,South America,Ecuador,Quito,Curiosity Hotel,2,09-06-16,19-06-16,"33,000","31,350"